<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<h2 th:text="${tradepostDto.title}"></h2>
<p th:text="${tradepostDto.content}"></p>
<p th:inline="text">작성일 : [[${#temporals.format(tradepostDto.createdTime, 'yyyy-MM-dd HH:mm')}]]</p>

<div>
    <a th:href="@{'/trade/posts/update/' + ${tradepostDto.id}}">
        <button>수정</button>
    </a>

    <form id="delete-form" th:action="@{'/trade/posts/' + ${tradepostDto.id}}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <button id="delete-btn">삭제</button>
    </form>
</div>

</body>
</html>