<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>-->
<!--<%@ page session="false" %>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<form action="/trade/posts" method="post" enctype="multipart/form-data">
    title: <input type="text" name="title"> <br>
    contents: <textarea name="content" cols="30" rows="10"></textarea> <br>
    <input type="submit" value="글작성">
</form>
<!--    <button onclick="test()" type="button">Ajax</button>-->


<!--<script>-->
<!--    var dto = {"title": "testTitle", "content" : "hi Content"}-->

<!--    function test() {-->
<!--        $.ajax({-->
<!--            url: "<c:url value="/trade/posts" />",-->
<!--            type: "post",-->
<!--            data: JSON.stringify(dto),-->
<!--            dataType: "json",-->
<!--            contentType: "application/json",-->
<!--            success: function(data) {-->
<!--                alert("성공");-->
<!--            },-->
<!--            error: function(errorThrown) {-->
<!--                alert(errorThrown.statusText);-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--</script>-->
<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
</body>
</html>