<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form th:action="@{'/trade/posts/update/' + ${tradepostDto.id}}" method="post">
    <input type="hidden" name="_method" value="patch"/>
    <input type="hidden" name="id" th:value="${tradepostDto.id}"/>

    제목 : <input type="text" name="title" th:value="${tradepostDto.title}"> <br>
<!--    작성자 : <input type="text" name="writer" th:value="${tradepostDto.writer}"> <br>-->
    <textarea name="content" th:text="${tradepostDto.content}"></textarea><br>

    <input type="submit" value="수정">
</form>

</body>
</html>