<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form th:action="@{'/trade/posts/update/' + ${postDto.id}}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="patch"/>
    <input type="hidden" name="id" th:value="${postDto.id}"/>

    제목 : <input type="text" name="title" th:value="${postDto.title}"> <br>
    <textarea name="content" th:text="${postDto.content}"></textarea><br>

    <!-- 필요시 추가 파일 업로드를 위한 파일 입력 추가 -->
    파일 추가 :<input type="file" name="images" multiple> <br>

    <!-- 업로드된 파일 정보 표시 -->
    <div th:each="images : ${images}">
        <p th:text="${'파일 ' + images.id + ': ' + images.imageName}">
            <!-- 파일 삭제 버튼 -->
<!--            <form th:action="@{'/trade/posts/deleteImage/' + ${tradepostDto.id} + '/' + ${status.index}}" method="post">-->
<!--                <input type="hidden" name="_method" value="delete"/>-->
<!--                <button type="submit">삭제</button>-->
<!--            </form>-->
        </p>
    </div>

    <input type="submit" value="수정">
</form>

</body>
</html>